<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    
    <link rel="stylesheet" href="../main.css">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="apontamentos.css" rel="stylesheet">
  
  	<script src="../angular/angular.js"></script>
  	<script src="../bootstrap/js/ui-bootstrap-tpls-0.13.0.js"></script>
  	<script src="../main.js"></script>
  	<script src="apontamentos.js"></script>

    <title>Appointment 1.0</title>

  </head>

  <body ng-app="app">
  	<div ng-controller="CadastroApontamentoController">
    <!-- Fixed navbar -->
		<nav class="navbar navbar-default navbar-static-top">
		  <div class="container">
			<div class="navbar-header">
			  <a class="navbar-brand" href="#">C4P Appointment</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
			  <ul class="nav navbar-nav">
				<li class="active"><a href="#">Home</a></li>
				<li><a href="#contact">Projetos</a></li>
				<li><a href="#contact">Usuários</a></li>
				<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Relatórios <span class="caret"></span></a>
				  <ul class="dropdown-menu">
					<li><a href="#">Action</a></li>
					<li><a href="#">Another action</a></li>
					<li><a href="#">Something else here</a></li>
					<li role="separator" class="divider"></li>
					<li class="dropdown-header">Nav header</li>
					<li><a href="#">Separated link</a></li>
					<li><a href="#">One more separated link</a></li>
				  </ul>
				</li>
			  </ul>
			</div><!--/.nav-collapse -->
		  </div>
		</nav>
		
		<!--
		<div ng-controller="AlertDemoCtrl">
		  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		  <button class='btn btn-default' ng-click="addAlert()">Add Alert</button>
		</div>
		-->
		
		<div class="jumbotron banner_lancamento" style="margin-bottom: 0px; padding-bottom:10px; padding-top:10px">
			<div class="container-fluid">
				<form>
					<div class="row">
					  <div class="col-md-7" style="margin-left:40px">
						<div class="form-group">
							<label for="projeto">Projeto</label>
							<select id="projeto" class="form-control" ng-model="apontamentoEdicao.projeto" ng-options="projeto.nome for projeto in projetos track by projeto.nome">
							  <option value=""></option>
							</select>
						  </div>
						  <div class="form-group">
							<label for="atividade">Atividade</label>
							<select id="atividade" class="form-control" ng-model="apontamentoEdicao.atividade" ng-options="atividade.nome for atividade in atividades track by atividade.nome" >
							  <option value=""></option>
							</select>
						  </div>
						  <div class="form-group">
							<label for="descricao">Descrição da atividade</label>
							<textarea id="descricao" class="form-control" rows="4" ng-model="apontamentoEdicao.descricao"></textarea>
						  </div>
					  </div>
					  <div class="col-md-4">
						<div class="form-group" ng-controller="DatepickerController">
							<label for="data">Data</label>
							<input id="data" type="date" class="form-control" ng-model="apontamentoEdicao.data" datepicker-popup ng-model="dt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Fechar" />
						  </div>
						  <div>
							  <div class="form-group" style="display: inline-block; margin-right: 50px; margin-left: 40px">
								<label for="horarioInicial">Horário inicial</label>
								<timepicker id="horarioInicial" ng-model="apontamentoEdicao.horarioInicial" show-meridian="ismeridian"></timepicker>
							  </div>
							  <div class="form-group" style="display: inline-block;">
								<label for="horarioFinal">Horário final</label>
								<timepicker id="horarioFinal" ng-model="apontamentoEdicao.horarioFinal" show-meridian="ismeridian"></timepicker>
							  </div>
						  </div>
						  <div style="margin-left:35px">
							<button type="button" class="btn btn-primary btn-lg" ng-click="salvar();">
							 <span class="glyphicon glyphicon-floppy-saved"></span> Salvar
							</button>
							<button type="button" class="btn btn-danger btn-lg" ng-click="cancelar();">
								<span class="glyphicon glyphicon-remove"></span> Cancelar
							</button>
							<button type="button" class="btn btn-success btn-lg" ng-click="novo();">
								<span class="glyphicon glyphicon-plus"></span> Novo
							</button>
						  </div>
					  </div>
					</div>
				</form>
			</div>
		</div>
		
		<div class="panel panel-default">
		  <!-- Default panel contents -->
		  <div class="panel-heading"><h4>Meus Apontamentos</h4></div>
		  <!-- Table -->
		  <table class="table table-bordered">
		  <thead>
			<tr>
			  <th>Data</th>
			  <th>Inicio</th>
			  <th>Fim</th>
			  <th>Total Hrs</th>
			  <th>Projeto</th>
			  <th>Atividade</th>
			  <th>Descrição</th>
			  <th>Status</th>
			  <th>Ações</th>
			</tr>
		  </thead>
		  <tbody>
			<tr class="{{ap.status | lowercase }}" ng-repeat="ap in listagemApontamentos">
			  <td>{{ ap.data }}</td>
  			  <td>{{ ap.horarioInicial | date:'shortTime' }}</td>
			  <td>{{ ap.horarioFinal | date:'shortTime' }}</td>
			  <td>{{ ap.totalHoras | date:'shortTime' }}</td>
			  <td>{{ ap.projeto.nome }}</td>
			  <td>{{ ap.atividade.nome }}</td>
			  <td>{{ ap.descricao }}</td>
			  <td>{{ap.status | lowercase }}</td>
			  <td width="80px">
			  	<p>
					<button type="button" class="btn btn-primary btn-xs" ng-click="alterar($index);">
						<span class="glyphicon glyphicon-pencil"/>
					</button>
					<button type="button" class="btn btn-danger btn-xs" ng-click="remover($index);">
						<span class="glyphicon glyphicon-remove"/>
					</button>
			  	</p>
			  </td>
			</tr>
		  </tbody>
		</table>
		</div>
	</div>	

    <footer class="footer">
      <div class="container">
        <p class="text-muted">C4P Appointment - Um produto da empresa <a href="http://www.cloud4project.com" target="_black">Cloud 4 Project</a></p>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="../bootstrap/js/bootstrap.min.js"></script>
    
  </body>
</html>
